*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    
}
.split{
    text-align: center;
    width:50%;
    height: 100vh;
}
.split.left{
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
    transition: width 0.4s ease;
}
.split.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    background-color: aqua;
    transition: width 0.4s ease;
    cursor:pointer
}
.split.left.active{
    width:65vw;
}.split.right.inactive{
    width: 35vw;
}
.split.right.active{
    width:65vw;
}.split.left.inactive{
    width: 35vw;
}
img{
    width: 35vw;
    margin-bottom: 100px;

    height: 50vh;
}
a{
    text-decoration: none;
    color: white;
}
